html {
    scroll-behavior: smooth;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // border: 1px solid red;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;

}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #F4F7FA;
    color: #0B0C0E;

}